.show-menu {
  top: 0;
  bottom: 0;
  transform: translateX(0) !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.textareaScroll{
  max-height: 57px;
  overflow-y: auto;
}

.chatGrid {
  grid-template-rows: 1fr 1fr 1fr !important;
}

.chatBody {
  min-height: 0 !important;
} 

.textAreaReset {
  height: auto !important;
}

.hidden {
  display: none !important;
}

.height-auto{
  height: auto !important; 
}

.outline{
  background-color: $white !important;
  border: 2px solid lighten($blue, 10%) !important;
  border-radius: 5px;
}

.clicked-btn{
  background-color: darken($blue, 5%);
}
