html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  background-color: #e7ebf0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  list-style: none;
}

a {
  color: #497799;
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

img {
  display: inline-block;
  width: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.show-menu {
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.hidden {
  display: none;
}

.outline {
  background-color: #ffffff !important;
  border: 2px solid #6191b4 !important;
  border-radius: 5px;
}

.clicked-btn {
  background-color: #416a88;
}

.telegram {
  position: relative;
  overflow-x: hidden;
  width: 80%;
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

.dialog {
  height: 90vh;
  position: relative;
}

.dialog__header {
  background-color: #497799;
  color: #ffffff;
  padding: 0 1.5rem;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog__brand {
  font-size: 1.4rem;
  margin-left: 1.5rem;
}

.dialog__body {
  padding: 0 1.5rem;
  position: relative;
  height: 90%;
  overflow-y: auto;
}

.dialog__body::-webkit-scrollbar {
  width: 3px;
}

.dialog__body::-webkit-scrollbar-track {
  background: #e5e5e5;
  /* color of the tracking area */
}

.dialog__body::-webkit-scrollbar-thumb {
  background-color: #497799;
}

.dialog__search {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background-color: #ffffff;
}

.dialog__search .icon-search {
  position: absolute;
  left: 0.2rem;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.dialog__search-bar {
  width: 100%;
  border: none;
  background-color: #F2F2F2;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  padding: 1rem 1rem 1rem 3rem;
}

.dialog__list .active {
  background-color: #6191b4;
  color: #ffffff;
}

.dialog__list .active .sender {
  color: #ffffff;
}

.dialog__list .active .fa-check {
  color: #ffffff;
}

.dialog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.dialog__item:not(.active):hover {
  background-color: #e7ebf0;
}

.dialog__avatar {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.dialog__user-name {
  font-size: 1.5rem;
}

.dialog__message {
  margin-top: 0.5rem;
}

.dialog__message .sender {
  color: #497799;
  margin-right: 0.5rem;
}

.dialog__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  margin-left: auto;
}

.dialog__right .fa-check {
  color: #1ea050;
  margin-right: 0.5rem;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  z-index: 10;
  background-color: #ffffff;
  height: 100%;
  width: 30rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
}

.menu__header {
  padding: 2rem;
  background-color: #6191b4;
  color: #ffffff;
}

.menu__header img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.menu__header button {
  border-radius: 50%;
  background-color: #497799;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__header button > span {
  color: #ffffff;
  font-size: 1.5rem;
}

.menu__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.menu__item:hover {
  background-color: #e7ebf0;
}

.menu__item span {
  font-size: 2rem;
  color: #737373;
  margin-right: 2rem;
}

.menu__item p {
  font-weight: 600;
}

.menu__footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  place-self: center;
}

.menu__footer a:hover {
  text-decoration: underline;
}

.chat {
  height: 90vh;
}

.chat__header {
  background-color: #497799;
  color: #ffffff;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__detail {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat__detail:hover {
  background-color: #416a88;
}

.chat__name {
  font-size: 1.5rem;
}

.chat__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.chat__top-btn {
  height: 100%;
  width: 5rem;
}

.chat__top-btn:hover {
  background-color: #416a88;
}

.chat__top-btn.menu-bar {
  position: relative;
}

.chat__top-btn.menu-bar .dropdown {
  cursor: default;
  width: 20rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: .5rem 0;
  -webkit-box-shadow: 1px 1px 5px #737373;
          box-shadow: 1px 1px 5px #737373;
}

.chat__top-btn.menu-bar .dropdown__item {
  cursor: pointer;
  padding: 1rem 2rem;
}

.chat__top-btn.menu-bar .dropdown__item:hover {
  background-color: #d9d9d9;
}

.chat__body {
  background-color: #a6c1d5;
  height: 80%;
  overflow-y: auto;
  padding: 1rem;
}

.chat__body::-webkit-scrollbar {
  width: 3px;
}

.chat__body::-webkit-scrollbar-track {
  background: dar #F2F2F2;
  /* color of the tracking area */
}

.chat__body::-webkit-scrollbar-thumb {
  background-color: #497799;
}

.chat__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat__content:not(:last-child) {
  margin-bottom: 2rem;
}

.chat__content.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.chat__content.me .chat__box {
  background-color: white;
}

.chat__content.me .chat__box-right {
  color: #1ea050;
}

.chat__content.me .chat__box-right p {
  color: #1ea050;
}

.chat__profile-image {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.chat__box {
  background-color: white;
  max-width: 60%;
  padding: 1.5rem;
  position: relative;
}

.chat__box-right {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.chat__box-right .time {
  font-size: .9rem;
  color: #a6a6a6;
}

.chat__box-right .fas {
  margin-left: .5rem;
  font-size: .5rem;
}

.chat__footer {
  min-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5rem;
}

.chat__chat-file {
  height: 100%;
  width: 5rem;
}

.chat__text-form {
  width: 100%;
  height: auto;
}

.chat__message-area {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  overflow: hidden;
  resize: none;
  outline: none;
  width: 100%;
  margin-top: .5rem;
  border: none;
}

.chat .profile {
  cursor: default;
  border-radius: .5rem;
  background-color: #e7ebf0;
  width: 35%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 2;
  color: black;
}

.chat .profile span {
  font-size: 2rem;
  color: #8c8c8c;
}

.chat .profile span.icon {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.chat .profile__header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat .profile__title {
  margin-left: 2rem;
}

.chat .profile__buttons button {
  padding: 2rem;
}

.chat .profile__avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
